{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting | À-propos' }}{% endblock %}
{% block content %}
        <section class="page-section about-heading">
            <div class="container">
                <img loading="lazy" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/galadriel_pigot.jpg" alt="Galadriel Pigot" />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">À l'origine de la Galadriel Saddle-Fitting</span>
                                    <span class="section-heading-lower">Ergonomie & Diversité</span>
                                </h2>
                                <p>Je m’appelle Galadriel Pigot et je suis diplômée d’un Master en Droit de la recherche et de l’innovation (2018). J’ai ensuite décidé de me réorienter vers ma passion : les chevaux et leur bien être. Dans ce but, j’ai suivi la formation de Glenn Hasker, maître sellier et Saddle fitter depuis plus de 40 ans.
                                J'ai ouvert en 2020 une activité de conseil et vente en tant que Saddle fitter  (Galadriel Saddle Fitting). Basée en Bretagne, j'interviens principalement en Finistère, Morbihan et Cote d'Armor.
                                Suite au développement de mon activité, j'ai souhaité séparer mes différents domaines d'activité :
                                </p>
                                <ul>
                                    <li>Galadriel Saddlefitting : continue de vous proposer des prestations de conseils via des consultations, des animations ou formations pour vos structures, ainsi que des réparations et adaptations pour votre matériel (modifications de matelassures, changement de contre sanglons, etc.)</li>
                                    <li>La Galadriel Saddle-Fitting : vous propose depuis septembre 2022 de vous fournir pour l'achat de selles et d'accessoires auprès de nos fournisseurs partenaires. Si vous êtes professionnel et assujetti à la TVA, je peux désormais vous proposer des tarifs hors taxes.
                                    Il est à noté que l'achat de selle ne sera pas possible en dehors d'une consultation (payante) permettant d'établir les besoins et objectifs de votre couple cavalier - cheval.
                                    </li>
                                </ul>
                                <p class="mb-0">
                                    Je ne suis en aucun cas une commerciale, je souhaite préserver mon indépendance et le respect de mes valeurs. Je me réserve donc le droit de changer de fournisseur ou de refuser une vente si j'estime que cela entre en conflit avec ces valeurs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
