{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting | CGV' }}{% endblock %}
{% block content %}
		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto" itemscope itemtype="https://schema.org/Organization">
						<div class="cta-inner bg-faded text-center rounded">
							<h2 class="section-heading mb-5">
								<span class="section-heading-upper">Informations Générales</span>
								<span class="section-heading-lower" itemprop="name">Galadriel Pigot</span>
							</h2>
							<ul class="list-unstyled list-hours mb-5 text-left mx-auto">
								<li class="list-unstyled-item list-hours-item d-flex">
									Nom Commercial
									<span class="ms-auto">Galadriel Saddle-Fitting</span>
								</li>
                        		<!-- The SIRET and SIREN as metadata (https://docs.peppol.eu/poacc/billing/3.0/codelist/ICD/) -->
                                <meta itemprop="iso6523Code" content="0002:887839140" />
                                <meta itemprop="iso6523Code" content="0009:88783914000019" />
								<li class="list-unstyled-item list-hours-item d-flex">
									SIRET
									<span class="ms-auto">88783914000019</span>
								</li>
								<li class="list-unstyled-item list-hours-item d-flex">
									Numéro de TVA
									<span class="ms-auto">FR09887839140</span>
								</li>
								<li class="list-unstyled-item list-hours-item d-flex">
									Numéro EORI
									<span class="ms-auto">FR58887839140</span>
								</li>
							</ul>
							<p class="address mb-5" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">

								<strong>Adresse administrative</strong>
								<br/>
								<i>Aucun accueil du public sur place</i><br/>
                                <span itemprop="streetAddress">
                                7 Hent Karrig Kamm
                                </span>,<br/>
                                <span itemprop="postalCode">29380</span>
                                <span itemprop="addressLocality">Saint Thurien</span>,
                                <span itemprop="addressCountry">France</span>
							</p>
							<p class="address mb-5">
								<em>
									<strong>Contact</strong>
									<br/>
                                    <meta itemprop="email" content="gsf@pigot.eu" />
                                    <a href="mailto:gsf@pigot.eu">gsf@pigot.eu</a>
								</em>
							</p>
						</div>
					</div>
					<div class="col-xl-9 col-lg-10 mx-auto mt-4">
						<div class="cta-inner bg-faded rounded p-5">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Conditions générales de Vente</span>
								<span class="section-heading-lower">Galadriel Saddle-Fitting</span>
							</h2>

                            <p><strong>Conditions générales de vente de prestations de services</strong><br><strong>ENTRE</strong></p>

                            <p>D'une Part, «&nbsp;Galadriel SaddFitting&nbsp;», Entrepreneur Individuel, y demeurant «&nbsp;7 Hent Karrig Kamm Saint-Thurien 29380&nbsp;», immatriculé au RCS de « Quimper&nbsp;» sous le numéro « 887 839 140&nbsp;»,<br>Ci-après dénommée «&nbsp;le Prestataire (de services)&nbsp;», «&nbsp;le Vendeur&nbsp;» ou «&nbsp;l'Entrepreneur Individuel&nbsp;»<br><strong>ET</strong><br>D'autre part, la personne physique ou morale procédant à l'achat de produits ou services de l'Entrepreneur individuel en tant que consommateur ou client non-professionnel,<br>Ci-après dénommée, « l'Acheteur », ou « le Client »</p>

                            <p><strong>1 <em>Contenu et champ d'application</em></strong></p>

                            <p>Les présentes Conditions Générales déterminent les droits et obligations des Parties dès lors qu'une demande de prestations de services et/ou de vente de matériel est sollicité auprès de l'Entrepreneur individuel.<br>Le Contrat de prestations de services conclu entre le Client et l'Entrepreneur individuel (ci-après le « Contrat ») est composé :</p>



                            <ul><li>des présentes Conditions Générales.</li><li>Et si nécessaire du devis ou bon de commande signé entre le Client et l'Entrepreneur individuel ;</li></ul>

                            <p>Les Conditions Générales s'appliquent de plein droit, à tous les Biens ou Services délivrés par l'Entrepreneur individuel auprès des Clients, et prévalent sur toutes autres conditions, y compris celles comprenant des clauses contradictoires, et notamment ses conditions générales d'achat qui seront inopposables à l'Entrepreneur individuel, même s'il en a eu connaissance.<br>Préalablement à la conclusion du Contrat, le Client reconnaît avoir eu communication, d'une manière lisible et compréhensible, des présentes Conditions Générales, et les accepte sans restriction ni réserve.</p>

                            <p>Ces Conditions Générales pouvant faire l'objet de modifications ultérieures en cas de changement du contexte législatif et règlementaire, la version applicable au Client est celle en vigueur au jour de la conclusion du Contrat.</p>

                            <p><strong>2</strong> <strong><em>Information précontractuelle</em></strong></p>

                            <p>Dès lors qu'une demande de prestations de services et/ou de vente de matériel est sollicité auprès de l'Entrepreneur individuel, sont notamment transmises à l'Acheteur, de manière claire et compréhensible, les informations suivantes :</p>



                            <ul><li>les caractéristiques essentielles du bien ou du service ;</li><li>le prix du bien ou du service. </li></ul>

                            <p><strong>3</strong> <strong><em>Commande</em></strong></p>

                            <p>Par commande, il faut entendre tout ordre portant sur les prestations de services et/ou de ventes de matériel proposés par le Prestataire.<br>Pour les prestations donnant lieu à l'établissement d'un devis ou bon de commande préalable, ce dernier est établi par l'Entrepreneur individuel et est valable pendant une durée de 6 mois.<br>La date apposée par le Prestataire sur le document fait foi pour décompter le point de départ de la durée de 6 mois.<br>Le Contrat n'est réputé formé qu'après le versement par le Client d'un acompte de 50 % du prix total de la prestation.<br>La conclusion du Contrat entraîne adhésion et acceptation pleine et entière des présentes conditions générales et obligation de paiement des produits commandés (sous réserve de l'exercice par l'Acheteur de son droit de rétractation, dans les délais et conditions ci-après).<br>L'Entrepreneur individuel se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.<br>Pour les prestations ne donnant pas lieu à l'établissement d'un devis ou bon de commande / bon de commande préalable, à savoir les consultations de saddle-fitting, la prise de commande entre le Prestataire et l'Acheteur se réalise par tout moyen (ex&nbsp;: e-mail, Messenger, SMS…).<br>La vente de Services ne sera considérée comme définitive qu'après l'envoi au Client de la confirmation de l'acceptation de la commande par le Prestataire et après encaissement par celui-ci de l'intégralité du prix, au plus tard le jour de la prestation.</p>

                            <p><strong>4</strong> <strong><em>Droit de rétractation&nbsp;:</em></strong></p>

                            <p>POUR LES CONSOMMATEURS DONT LE CONTRAT A ETE CONCLU «&nbsp;A DISTANCE&nbsp;»<br><br><strong>4.1.</strong> Conformément aux dispositions légales actuellement en vigueur, le Client a le droit de se rétracter du contrat, sans donner de motif, dans un délai de 14 jours à compter de la conclusion du contrat (date de la signature du devis ou bon de commande.)<br>Pour exercer le droit de rétractation, le Client doit notifier sa décision de rétractation du contrat à l'Entrepreneur individuel au moyen d'une déclaration dénuée d'ambiguïté (par exemple&nbsp;: par courrier postal à l'adresse du siège de l'Entrepreneur individuel «&nbsp;7 Hent Karrig Kamm Saint-Thurien 29380&nbsp;» ou par courrier électronique à l'adresse suivante « galadriel.saddlefitting@gmail.com ») se conformant aux dispositions de l'article R. 221-1 du Code de la Consommation.<br>Pour que le délai de rétractation soit respecté, il suffit que le Client transmette sa communication relative à l'exercice du droit de rétractation, par tout moyen, avant l'expiration du délai de rétractation. Le cachet de la poste faisant foi pour les envois postaux.<br><br><strong>4.2.</strong> L'Entrepreneur individuel doit rembourser le Client de la totalité des sommes éventuellement versées, au plus tard dans les 14 jours à compter de la date à laquelle il est informé de la décision de celui-ci de se rétracter.<br>Si le Vendeur ne rembourse pas les sommes versées par le Client, les sommes dues sont majorées de plein droit, conformément aux dispositions de l'article L. 242-4 du Code de la consommation.<br><br><strong>4.3.</strong> Le droit de rétractation est exclu pour ce qui concerne les fournitures de biens confectionnés selon les spécificités du Client ou nettement personnalisés. En conséquence, le droit de rétractation ne s'appliquera pas aux selles ou équipements personnalisés.<br>A ce titre, est défini comme une selle personnalisée, toute selle commandée avec une couleur (incluant couleur de liseré, jonc, décorations…) autre que la couleur de base (noir ou marron) et avec des options spécifiques relatives à l'arçon pour le cheval, les panneaux, le type de cuir et la taille de quartier.<br><br>POUR LES PROFESSIONNELS EXERÇANT POUR LES BESOINS DE LEUR PROFESSION<br>L'Acheteur étant un professionnel achetant dans le cadre et pour les besoins de sa profession, il n'y a pas lieu d'appliquer le droit de rétractation prévu par le Code de la consommation.</p>

                            <p><strong>5 <em>Tarifs </em></strong></p>

                            <p>Les services proposés par le Prestataire sont fournis aux tarifs en vigueur au jour de la prise de RDV pour les consultations de saddle-fitting et au jour de l'émission du devis ou bon de commande pour la vente d'équipements. Le prix indiqué dans la confirmation de la commande par l'Entrepreneur individuel est le prix définitif.<br>Les prix sont exprimés en euros HT (TVA non applicable art 293 B du CGI). Ces tarifs sont fermes et non révisables, pendant leur période de validité.<br>Une facture est établie par l'Entrepreneur individuel et remise au Client lors de la fourniture de la prestation de services ou de la livraison du bien (à savoir, à la fin de la consultation de saddle-fitting ou le jour de la livraison de l'équipement).</p>

                            <p><strong>6</strong> <strong><em>Paiement </em></strong></p>

                            <p><strong>6.1.</strong> Les services proposés par le Prestataire (rendez de consultations saddle fititng, vente de matériel et réglages de matériels) sont payables par chèque, espèce ou virement. Aucun autre moyen de paiement n'est accepté.<br>Les frais de déplacements seront systématiquement facturés au Client, peu importe la prestation souhaitée, selon la méthode de calcul pratiquée par le Prestataire.</p>

                            <p><strong>6.2.</strong> Le Client doit verser «&nbsp;50 » % du prix total de la prestation au moment de la signature du devis ou bon de commande ou bon de commande. Le règlement du solde s'effectue au comptant, le jour de la délivrance du matériel.<br>Pour la consultation de saddle-fitting, le prix convenu entre les Parties est payable en totalité, le jour de la prestation.<br>A défaut de paiement en temps utile, la prestation ne sera pas délivrée.</p>

                            <p><strong>6.3.</strong> L'Entrepreneur individuel refuse les règlements échelonnés en plusieurs fois.</p>

                            <p><strong>7 <em>Retard de paiement</em></strong></p>

                            <p>De convention expresse et sauf report exceptionnel sollicité par le Client et accordé par l'Entrepreneur individuel, le défaut de paiement d'une prestation ou du matériel lors de la livraison entraînera, après mise en demeure, l'exigibilité immédiate de toutes les sommes qui sont dues à l'Entrepreneur individuel, quelle qu'en soit la cause., sans préjudice de toute autre action que le Prestataire serait en droit d'intenter, à ce titre, à l'encontre du Client.<br>Le non-respect des délais de paiement entraînera également l'application de pénalités de retard aux conditions et taux prévus ci-après.<br>Tout retard de paiement, en référence au lendemain de la date d'exigibilité indiquée sur la facture, entrainera l'application de pénalités de retard d'un montant égal à trois (3) fois le taux d'intérêt légal alors en vigueur, qui seront acquises automatiquement et de plein droit au Prestataire, sans formalité aucune, ni mise en demeure préalable.<br>Les pénalités de retard seront calculées sur le montant HT des factures en retard de paiement.<br>Tout paiement partiel imputable au Client et dont le motif n'aurait pas été dûment justifié ou justifiable auprès de l'Entrepreneur individuel sera considéré comme un retard de paiement.</p>

                            <p>Si le Client est un professionnel, tout retard de paiement donnera lieu, en plus des pénalités de retard, au versement d'une indemnité forfaitaire pour frais de recouvrement au profit de l'Entrepreneur individuel. Cette indemnité a été fixée forfaitairement à quarante (40) euros. Elle sera due de plein droit et sans formalité par le professionnel, en situation de retard de paiement.</p>

                            <p><strong>8 <em>Obligations de l'entrepreneur individuel</em></strong></p>

                            <p><strong>8.1.</strong> Le Vendeur s'engage à fournir le service commandé dans un délai maximum de six mois à compter de la validation définitive de la commande du Client.<br>Le Vendeur s'engage à fournir ses meilleurs efforts pour fournir les Services commandés par le Client dans le cadre d'une obligation de moyen, dans le délai ci-dessus précisé. Toutefois, ces délais sont communiqués à titre indicatif.<br><br><strong>8.2. </strong>Le Vendeur s'engage à exécuter les obligations contractuelles définies sur le devis ou bon de commande signé par le Client, à l'exclusion de tout autre sans que les restrictions suivantes puissent jamais être considérées comme limitatives.<br><br><strong>8.3.</strong> L'Entrepreneur individuel s'engage à proposer ou faire proposer à un tiers formé par Glenn HASKER et/ou membres ASFI un suivi annuel minimum en ce compris la révision de la selle à panneaux en laine, pour tenir compte de la transformation physique du cheval, de l'évolution du niveau d'équitation du cavalier et de son équilibre sur la selle.<br>Il est également rappelé que l'absence de suivi annuel peut influer sur l'utilisation optimale du matériel.<br><br><strong>8.4.</strong> La responsabilité de l'Entrepreneur individuel ne saurait être engagée en cas de non-respect des obligations du Client (matériel utilisé dans des conditions anormales d'utilisation ou d'entretien), pour quelque cause que ce soit, ou dommage de quelque nature que ce soit au cours de l'utilisation du matériel.</p>

                            <p><strong>9 <em>Matériels</em></strong></p>

                            <p><strong>9.1</strong>. L'Entrepreneur individuel fournit uniquement le matériel spécifié précisément sur le devis ou bon de commande signé par le Client, lequel provient d'un portefeuille de fournisseurs travaillant régulièrement avec lui.<br>Le matériel est décrit et présenté avec la plus grande exactitude possible. Toutefois, si des erreurs ou des omissions ont pu se produire quant à cette présentation, la responsabilité du Prestataire ne pourrait être engagée.<br><br><strong>9.2</strong>. La responsabilité de l'Entrepreneur individuel ne peut être engagée qu'en cas de faute ou de négligence prouvée et limitée aux préjudices directs, à l'exclusion de tout préjudice indirect de quelque nature que ce soit.<br><br><strong>9.3.</strong> L'Entrepreneur individuel garantit la conformité des seuls matériels figurant sur le devis ou bon de commande signé par le Client et ne peut être tenu pour responsable dans le cas d'espèce où les clients souhaitant procéder au remplacement, opterait pour le choix d'un fournisseur de leur propre chef, ne faisant pas partie du portefeuille de fournisseurs ayant des relations commerciales établies avec lui.<br><br><strong>9.4.</strong> Le matériel vendu est celui qui semble le plus approprié au sens du Prestataire, au moment de la commande. L'entrepreneur individuel attire l'attention de l'Acheteur que les réglages, les choix de modèles de selles ou d'équipements peuvent ne plus être pertinents dans les semaines, les mois ou les années à suivre. L'entrepreneur individuel ne pourra en être tenu pour responsable.</p>

                            <p><strong>10 <em>Délivrance du matériel</em></strong></p>

                            <p><strong>10.1.</strong> Sous réserve du temps de réception de la commande auprès de ses fournisseurs habituels, l'Entrepreneur individuel s'engage à prendre rendez-vous avec le client pour la livraison de la selle, dans les meilleurs délais.<br><br><strong>10.2.</strong> Sauf condition particulière, la livraison des selles aura lieu en main propre, à l'adresse indiquée par le client, afin de faire les essais d'usage avec le couple cavalier – cheval.<br>Cependant, en raison de conditions exceptionnelles définies par le Vendeur (tels que, sans que cela ne constitue une liste exhaustive, un confinement ou un couvre-feu rendu nécessaire par la situation sanitaire), l'entrepreneur individuel se réserve la possibilité d'envoyer la selle par voie postale ou par transporteur, sans surcoût pour le Client. L'Entrepreneur individuel s'engage dans ce cas à effectuer une visite de contrôle gratuite dans les plus brefs délais suivant le retour à la normale.<br>La livraison d'équipements (autres qu'une selle) peut se faire indifféremment par une remise en main propre, un envoi postal ou par le biais d'un transporteur. Une prise en charge totale ou partielle des coûts de transport pourra être facturée au client.<br><br><strong>10.3.</strong> Il appartient au Client de vérifier l'état du matériel au moment de la délivrance ou de la livraison du matériel.<br>Toute réserve (matériel endommagé…) doit être mentionnée par écrit et être accompagnée de la signature du Client, sur papier libre, et être envoyée par lettre recommandée avec demande d'avis de réception à l'adresse suivante «&nbsp;7 Hent Karrig Kamm 29380 Saint-Thurien&nbsp;» dans les trois (3) jours suivant la délivrance ou la livraison.<br>A défaut de respect de cette procédure, le matériel livré est réputé conforme en quantité et qualité à la commande et la responsabilité de l'entrepreneur individuel automatiquement dégagée.</p>

                            <p><strong>11</strong> <strong><em>Utilisation – Informations à propos du matériel</em></strong></p>

                            <p>Le Client formulera toute demande d'informations ou expression d'inquiétudes concernant l'utilisation du matériel par tout moyen et reconnaît que seules les informations fournies par l'Entrepreneur individuel sont susceptibles d'engager la responsabilité de ce dernier. En parallèle, le Client se déclare averti de l'importance de faire procéder régulièrement à l'entretien du matériel par un professionnel.</p>

                            <p><strong>12 <em>Retour de matériel</em></strong></p>

                            <p>La reprise d'un matériel, hormis l'exercice du droit de rétractation ou la force majeure, reste à la discrétion de l'Entrepreneur individuel.<br>Le cas échéant, après validation du Vendeur, le retour du matériel doit se faire dans les plus brefs délais, tels que définis entre les Parties.<br>Le retour du matériel se fera soit en main propre, soit par envoi postal, soit par transporteur. En toute hypothèse, les frais de retour seront entièrement supportés par le Client.<br>Le matériel retourné doit être dans son état et emballage d'origine et accompagné de la copie de la facture d'achat.<br>Le Vendeur remboursera le matériel dans les plus brefs délais, et au plus tard dans un délai de 15 jours à compter de la réception effective des produits retournés par le Client dans les conditions prévues au présent article.</p>

                            <p><strong>13 <em>Consultations de saddle fitting</em></strong></p>

                            <p><strong>13.1.</strong> En toute hypothèse, après leur réalisation, les consultations de saddle fitting une fois effectués ne sont pas remboursables.<br><br><strong>13.2.</strong> Si un problème est identifié par l'Entrepreneur individuel et qu'il ne permet pas de poursuivre le rendez-vous de manière optimale sur l'équidé présenté lors de la consultation (selon les critères identifiés par l'Institut français du cheval et de l'équitation, tels que, sans que cela ne constitue une liste exhaustive, la boiterie, cheval malade, cheval trop maigre ou en surpoids), le Client en sera informé et l'Entrepreneur individuel se réserve le droit de mettre un terme à la consultation. La totalité de la prestation sera cependant facturée au Client. Une nouvelle consultation pourra être réalisée après que l'équidé aura été présenté à un vétérinaire.<br>De même, si l'équidé présenté lors de la consultation n'est physiquement pas apte à être sellé ou monté, l'Entrepreneur individuel se réserve le droit de mettre un terme à la consultation. La totalité de la prestation sera cependant facturée au Client. Une nouvelle consultation pourra être réalisée après que l'équidé aura été présenté à un vétérinaire.<br>Lors de la consultation, le Client reste responsable de l'équidé et de son comportement. L'Entrepreneur individuel ne pourra pas en être tenu responsable.<br><br><strong>13.3.</strong> Lors de la consultation, il est de la responsabilité du Client de mettre en œuvre des conditions adéquates pour que la consultation se passe dans des conditions de sécurité optimales. Si l'Entrepreneur individuel estime que les conditions sont dangereuses pour le Client, pour l'équidé, pour lui-même ou pour tout autre humain ou animal aux alentours, il pourra mettre un terme à la consultation. La totalité de la prestation sera cependant facturée au Client.<br>L'Entrepreneur individuel n'ayant pas vocation à encadrer la pratique de l'équitation, sa responsabilité ne pourra pas être engagé en cas d'accident ou de chute. L'Entrepreneur individuel pourra éventuellement demander au Client ou au cavalier habituel de voir l'équidé en mouvement et/ou monté.<br>L'Entrepreneur individuel ne sera être tenu pour responsable de quelconques blessures, douleurs ou problèmes de boiterie ou de santé de l'équidé et/ou du Client et/ou du cavalier, pendant ou après la consultation.<br>Les conseils et les réglages de selle effectuée par le Prestataire sont faits avec soins et éthique. Ils correspondent aux besoins constatés et aux informations reçues le jour de la consultation.<br>Les réglages effectués sont ceux qui semblent le plus appropriés au sens du Prestataire, au moment de la consultation. L'entrepreneur individuel attire l'attention de l'Acheteur que les réglages peuvent ne plus être pertinents dans les semaines, les mois ou les années à suivre. L'entrepreneur individuel ne pourra en être tenu pour responsable.<br>Le Client doit être conscient que le bon ajustement de la selle peut donner à l'équidé une liberté de mouvement qui peut avoir pour conséquence un changement radical de morphologie. Ces changements de morphologie peuvent survenir en très peu de temps et nécessiter des ajustements supplémentaires. Dans ce cas, le Client doit contacter l'entrepreneur individuel dans les plus brefs délais.<br>Le Client doit garder à l'esprit que de nombreux facteurs peuvent affecter l'ajustement de la selle tels que, sans que cette liste ne soit exhaustive, la prise et perte de poids, le niveau de musculature, l'intensité et la fréquence de travail, les conditions de logement, les saisons ou l'âge de l'équidé.<br>Le Prestataire ne peut pas être tenu pour responsable des changements morphologiques de l'équidé, ni des conséquences qui pourrait en découler après sa prestation.<br><br><strong>13.4.</strong> L'entrepreneur individuel propose au Client une consultation de contre visite à tarif réduit dans les 6 mois suivant la visite initiale ou la livraison d'une selle. Passé ce délai, une visite à plein tarif est facturée au Client.</p>

                            <p><strong>14 <em>Transfert de propriété du matériel</em></strong></p>

                            <p>L'entrepreneur individuel se réserve expressément la propriété du matériel jusqu'à paiement intégral par le client du prix, et ce quelle que soit la date de délivrance/livraison du matériel. L'entrepreneur individuel pourra donc faire usage de la présente clause de réserve de propriété, en cas de défaut de paiement, et pourra revendiquer le matériel, sans dédommagement pour le Client.<br>L'application de la présente clause de réserve de propriété ne fait pas obstacle au transfert au client, dès la délivrance ou l'envoi de la garde du matériel vendu, des risques de vol, perte et détérioration, ainsi que des dommages qu'ils pourraient occasionner à un humain ou à un animal.</p>

                            <p><strong>15 <em>Certificat de garantie</em></strong></p>

                            <p>Le certificat de garantie est constitué soit par la facture, soit par un certificat de garantie fourni par le fabricant. La validité de ce certificat de garantie peut nécessiter des démarches obligatoires de la part du client, en fonction du fournisseur concerné.<br>Il appartient au Client de conserver la facture et/ou de faire les démarches nécessaires auprès du fabricant.<br>L'entrepreneur individuel ne pourra pas être tenu pour responsable de la perte de la facture et/ou de la non-réalisation des démarches auprès du fabricant. Aucun duplicata ne sera délivré par ailleurs.</p>

                            <p><strong>16</strong> <strong><em>Responsabilité et limites contractuelles</em></strong></p>

                            <p><strong>16.1.</strong> La garantie des produits vendus par l'entrepreneur individuel se limite dans tous les cas à celle du fabricant.<br><br><strong>16.2.</strong> Dans ses rapports avec tout Client ou utilisateur du matériel, qu'il soit Client particulier ou professionnel, la responsabilité de l'Entrepreneur individuel du fait d'un matériel défectueux est strictement limitée, en ce qui concerne les dommages matériels directs, au montant payé par ce Client, et ce quelle que soit la cause, l'objet ou le fondement de la réclamation.<br><br><strong>16.3.</strong> L'Entrepreneur individuel ne pourra être tenu responsable pour un dommage indirect et/ou immatériel, tel qu'un manque à gagner ou une perte de profit notamment.<br>Le présent Contrat ne couvre pas les matériels et installations en aval et en amont de la prestation de conseil et/ou de vente de selles et autres accessoires faisant l'objet du présent Contrat.<br><br><strong>16.4. </strong>La responsabilité de l'Entrepreneur individuel ne saurait être engagée en cas de défaut d'utilisation ou d'entretien, de détériorations dues à des erreurs de manipulations, d'utilisation abusives ou non appropriées.<br>Sont également exclus de cette garantie les défauts et détériorations provoquées par l'usure naturelle ou encore par une modification du produit non prévue ni spécifiée par l'Entrepreneur individuel.<br>L'Entrepreneur individuel ne peut être tenu pour responsable des détériorations et casses dues à une défense de l'équidé.<br>La responsabilité de l'Entrepreneur individuel ne saurait être engagée pour le matériel ayant fait l'objet d'un mauvais entretien, mauvais lavage ou nettoyage.<br>Enfin, l'Entrepreneur individuel ne peut être tenu pour responsable des interventions effectuées par une tiers personne sur les équipements qu'il a fournis au Client.<br></p>

                            <p><strong>17<em> Force Majeure </em></strong></p>

                            <p><strong>17.1.</strong> Chacune des Parties sera exonérée de toute responsabilité en cas de manquement total ou partiel même temporaire à l'une ou l'autre de ses obligations découlant du présent Contrat qui serait causé par un cas de Force majeure.<br>Il en sera de même s'agissant des préjudices ou dommages matériels ou immatériels résultant d'évènements de force majeure ou tous autres faits insurmontables ou imprévisibles d'un tiers au contrat.<br>La Force majeure est définie comme un événement à caractère insurmontable et irrésistible, résultant d'un fait extérieur à la maîtrise des Parties, lequel consiste en un événement ou une série d'événements de nature climatique, pandémique, bactériologique, militaire, politique, diplomatique ou informatique.<br>A titre d'exemple, constituent notamment des événements de force majeure, sans que cette liste soit exhaustive, des phénomènes naturels tels que les tornades, inondations, ouragans, tremblements de terre, éruptions volcaniques ; l'utilisation par un Etat ou un groupe terroriste d'armes de toute nature perturbant la continuité des relations commerciales ; des mouvements sociaux d'ampleur nationale ; la propagation d'un virus qui serait qualifié par les autorités de stade 3 de l'épidémie tel que le Sars-Cov-2 ou la mise en place d'un confinement ou couvre-feu en raison de l'évolution d'une pandémie.<br><br><strong>17.2.</strong> En cas de survenance d'une situation qu'elle considère comme un cas de Force majeure, la Partie concernée s'engage à notifier par lettre recommandée avec accusé de réception (LRAR), dans les plus brefs délais, la survenance de cet évènement en précisant sa nature et son impact sur le respect de ses obligations, et accompagner sa demande de tout document pouvant en justifier.<br>Dans l'hypothèse où la Partie invoquant une situation de force majeure parviendrait à la caractériser, ses obligations seront suspendues pour un délai de «&nbsp;2&nbsp;» semaines. Toute suspension d'exécution du Contrat par application du présent article sera strictement limitée aux engagements dont les circonstances de Force majeure auront empêché l'exécution et à la période durant laquelle les circonstances de force majeure auront agi.<br>En tout état de cause, les Parties s'efforcent de mettre en œuvre les moyens nécessaires pour minimiser les dommages pouvant en résulter.<br>Passé le délai de suspension des obligations, si la situation de Force majeure se poursuit, le Contrat sera résolu de plein droit.<br></p>

                            <p><strong>18</strong> <strong><em>Assurance</em></strong><br>L'Entrepreneur individuel est assuré auprès d'une compagnie française notoirement solvable.</p>

                            <p><strong>19 <em>Règlement des litiges</em></strong></p>

                            <p><strong>19.1.</strong> Toute réclamation doit se faire par écrit et être adressée au siège de l'entrepreneur individuel, à savoir «&nbsp;7 Hent Karrig Kamm 29380 Saint-Thurien&nbsp;».<br><br><strong>19.2.A.</strong> <em>Pour un client consommateur</em><br>En cas d'échec de la demande de réclamation faite auprès de l'entrepreneur individuel, le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.<br><br><strong>19.2.B.</strong> <em>Pour un client professionnel</em><br>Avant toute action portée par ces tribunaux, en vue de trouver ensemble une solution à tout litige qui surviendrait dans l'exécution du présent contrat, les Parties conviennent de se réunir dans les «&nbsp;quinze jours)&nbsp;» à compter de la réception d'une lettre recommandée avec demande d'avis de réception, notifiée par l'une des deux parties.<br>La présente procédure de règlement amiable constitue un préalable obligatoire à l'introduction d'une action en justice entre les parties. Toute action introduite en justice en violation de la présente clause serait déclarée irrecevable.<br>Toutefois, si au terme d'un délai «&nbsp;quinze jours)&nbsp;», les Parties n'arrivaient pas à se mettre d'accord sur un écrit, le litige serait alors soumis à la compétence juridictionnelle désignée ci-après.<br><br><strong>19.3.</strong> Le droit applicable aux présentes conditions générales est le droit français. Tout litige concernant la validité, l'interprétation, l'exécution, la réalisation ou la résolution du Contrat, leurs conséquences ou leur suite, et qui n'aurait pas pu être résolu amiablement entre le Prestataire et le Client, sera soumis aux tribunaux français.<br>En cas de litige avec des professionnels et/ou commerçants, celui-ci sera soumis au Tribunal de Commerce de «&nbsp;Quimper&nbsp;» dans le ressort duquel se trouve le siège social de l'entrepreneur individuel, quelles que soient les conditions de vente et le mode de paiement accepté, même en cas d'appel en garantie ou de pluralité de défendeurs.<br><br><strong>19.4.</strong> Si l'une des clauses ou dispositions des présentes Conditions Générales venait à être annulée ou déclarée illégale par une décision de justice définitive, cette nullité ou illégalité n'affectera en rien les autres clauses et dispositions qui continueront à s'appliquer.</p>

                            <p><strong>20 <em>Protection des données personnelles </em></strong></p>

                            <p>L'entrepreneur individuel est susceptible de collecter des données personnelles, ce pour le bon déroulement de la prestation et/ou de la commande.<br>Afin de répondre aux contraintes européennes et nationales sur la collecte et le traitement des données personnelles, l'entrepreneur individuel confirme avoir mis en place les actions nécessaires afin de respecter les obligations prévues par le Règlement Européen sur la protection des données personnelles (RGPD) n°2016/679 du 27 avril 2016 ainsi que la loi n°78-17 relative à l'informatique, aux fichiers et aux libertés.<br>L'entrepreneur individuel s'engage, pendant toute la durée de la relation avec son Client, à ce que toutes les données personnelles concernant son Client (généralement le nom, prénom, adresse e-mail, adresse postale et numéro de téléphone) soient traitées et collectées pour ses propres finalités, conformément aux dispositions communautaires et nationales en vigueur.<br>Ceci impose notamment, sans toutefois s'y limiter, (i) d'établir une base légale appropriée pour le traitement, (ii) de veiller à l'existence d'un mécanisme légal ou d'une exemption légale permettant tout transfert des données personnelles en dehors de l'Espace économique européen (EEE), (iii) de mettre en place des mesures techniques et organisationnelles appropriées afin de garantir la sécurité des données personnelles.<br>Conformément à la Loi informatique et libertés du 6 janvier 1978, il est rappelé que chaque Client dispose d'un droit d'accès, d'opposition, de rectification, de modification et de retrait sur toute donnée personnelle le concernant. Le Client peut à tout moment exercer ce droit en contactant l'entrepreneur individuel .</p>

						</div>
					</div>
					<div class="col-xl-9 col-lg-10 mx-auto mt-4">
						<div class="cta-inner bg-faded rounded p-5">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Respect de la vie privée</span>
							</h2>

                            <p>Les règles de l’Union relatives à la protection des données protègent vos données à caractère personnel où qu’elles soient recueillies. Ces règles s’appliquent aux entreprises et aux organisations publiques et privées, établies dans ou en dehors de l’UE, qui y proposent des biens ou des services, lorsqu’elles demandent ou réutilisent les données à caractère personnel de citoyens de l’UE.</p>



                            <p>Si vous avez autorisé une entreprise ou une organisation à utiliser vos données à caractère personnel, vous pouvez contacter le responsable du traitement des données et retirer cette autorisation à tout moment.</p>



                            <p>Les entreprises qui souhaitent vous envoyer des courriels de marketing direct vantant les mérites de marques ou produits particuliers doivent obtenir votre consentement préalable. Toutefois, si vous êtes déjà client(e) d’une entreprise, celle-ci peut vous envoyer des courriels de marketing direct concernant ses propres produits ou des services similaires. Vous avez le droit de vous opposer à tout moment à recevoir ces courriels.</p>



                            <p>Vous pouvez demander d’accéder aux données à caractère personnel qu’une entreprise ou organisation possède vous concernant, et vous avez le droit d’obtenir gratuitement une copie de ces données. L’entreprise ou organisation concernée doit répondre dans un<strong> </strong>délai d’un mois.</p>



                            <p>Si une entreprise ou organisation conservé des données à caractère personnel vous concernant qui sont inexactes ou lacunaires, vous pouvez lui demander de rectifier ou mettre à jour vos données.</p>



                            <p>Pour toutes les questions relatives à la conservation, au traitement, à la modification ou à la suppression des données à caractères personnelles que vous avez enregistrées sur ce site, soit pour déposer une contribution sur le blog, soit pour obtenir des informations complémentaires, adressez votre demande par courriel à : <a href="mailto:gsf@pigot.eu">gsf@pigot.eu</a></p>

						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
