{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting | CGV' }}{% endblock %}
{% block content %}
		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto" itemscope itemtype="https://schema.org/Organization">
						<div class="cta-inner bg-faded text-center rounded">
							<h2 class="section-heading mb-5">
								<span class="section-heading-upper">Informations Générales</span>
								<span class="section-heading-lower" itemprop="name">Galadriel Pigot</span>
							</h2>
							<ul class="list-unstyled list-hours mb-5 text-left mx-auto">
								<li class="list-unstyled-item list-hours-item d-flex">
									Nom Commercial
									<span class="ms-auto">Galadriel Saddle-Fitting</span>
								</li>
                        		<!-- The SIRET and SIREN as metadata (https://docs.peppol.eu/poacc/billing/3.0/codelist/ICD/) -->
                                <meta itemprop="iso6523Code" content="0002:887839140" />
                                <meta itemprop="iso6523Code" content="0009:88783914000019" />
								<li class="list-unstyled-item list-hours-item d-flex">
									SIRET
									<span class="ms-auto">88783914000019</span>
								</li>
								<li class="list-unstyled-item list-hours-item d-flex">
									Numéro de TVA
									<span class="ms-auto">FR09887839140</span>
								</li>
								<li class="list-unstyled-item list-hours-item d-flex">
									Numéro EORI
									<span class="ms-auto">FR58887839140</span>
								</li>
							</ul>
							<p class="address mb-5" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">

								<strong>Adresse administrative</strong>
								<br/>
								<i>Aucun accueil du public sur place</i><br/>
                                <span itemprop="streetAddress">
                                7 Hent Karrig Kamm
                                </span>,<br/>
                                <span itemprop="postalCode">29380</span>
                                <span itemprop="addressLocality">Saint Thurien</span>,
                                <span itemprop="addressCountry">France</span>
							</p>
							<p class="address mb-5">
								<em>
									<strong>Contact</strong>
									<br/>
                                    <meta itemprop="email" content="gsf@pigot.eu" />
                                    <a href="mailto:gsf@pigot.eu">gsf@pigot.eu</a>
								</em>
							</p>
						</div>
					</div>
					<div class="col-xl-9 col-lg-10 mx-auto mt-4">
						<div class="cta-inner bg-faded rounded p-5">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Conditions générales de Vente</span>
								<span class="section-heading-lower">Galadriel Saddle-Fitting</span>
							</h2>
							<pre style="text-wrap: wrap;">
Conditions générales de vente de prestations de services
ENTRE
D'une Part, « Galadriel Pigot », Micro entreprise, demeurant « 7 Hent Karrig Kamm, Saint-Thurien 29380 », immatriculé au RCS de « Quimper » sous le numéro « 887839140 »,
Ci-après dénommée « Le Vendeur »
ET
D'autre part, la personne physique ou morale procédant à l'achat de produits ou services du Vendeur en tant que consommateur ou client non-professionnel,
Ci-après dénommée, « l'Acheteur », ou « le Client »

1 Contenu et champ d'application
Les présentes Conditions Générales déterminent les droits et obligations des Parties dès lors qu'une demande de vente de matériel est sollicité auprès du Vendeur.
Le Contrat de vente de matériel conclu entre le Client et le Vendeur (ci-après le « Contrat ») est composé :
    • des présentes Conditions Générales.
    • Et si nécessaire du devis ou bon de commande signé entre le Client et le Vendeur ;
Les Conditions Générales s'appliquent de plein droit, à tous les Biens ou Services délivrés par le Vendeur auprès des Clients, et prévalent sur toutes autres conditions, y compris celles comprenant des clauses contradictoires, et notamment ses conditions générales d'achat qui seront inopposables au Vendeur, même s'il en a eu connaissance.
Préalablement à la conclusion du Contrat, le Client reconnaît avoir eu communication, d'une manière lisible et compréhensible, des présentes Conditions Générales, et les accepte sans restriction ni réserve.
Ces Conditions Générales pouvant faire l'objet de modifications ultérieures en cas de changement du contexte législatif et règlementaire, la version applicable au Client est celle en vigueur au jour de la conclusion du Contrat.

2 Information précontractuelle
Dès lors qu'une demande de vente de matériel est sollicité auprès du Vendeur, sont notamment transmises à l'Acheteur, de manière claire et compréhensible, les informations suivantes :
    • les caractéristiques essentielles du bien ;
    • le prix du bien.

3 Commande
Par commande, il faut entendre tout ordre portant sur les ventes de matériel proposés par le Vendeur.
Pour les prestations donnant lieu à l'établissement d'un devis ou bon de commande préalable, ce dernier est établi par le Vendeur et est valable pendant une durée de 6 mois.
La date apposée par le Vendeur sur le document fait foi pour décompter le point de départ de la durée de 6 mois.
Le Contrat n'est réputé formé qu'après le versement par le Client d'un acompte de 50 % du prix total de la prestation.
La conclusion du Contrat entraîne adhésion et acceptation pleine et entière des présentes conditions générales et obligation de paiement des produits commandés (sous réserve de l'exercice par l'Acheteur de son droit de rétractation, dans les délais et conditions ci-après).
le Vendeur se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.

4 Droit de rétractation :
POUR LES CONSOMMATEURS DONT LE CONTRAT A ETE CONCLU « A DISTANCE »

4.1. Conformément aux dispositions légales actuellement en vigueur, le Client a le droit de se rétracter du contrat, sans donner de motif, dans un délai de 14 jours à compter de la conclusion du contrat (date de la signature du devis ou bon de commande.)
Pour exercer le droit de rétractation, le Client doit notifier sa décision de rétractation du contrat à le Vendeur au moyen d'une déclaration dénuée d'ambiguïté (par exemple : par courrier postal à l'adresse du siège du Vendeur « 7 Hent Karrig Kamm Saint-Thurien 29380 » ou par courrier électronique à l'adresse suivante « gsf@pigot.eu ») se conformant aux dispositions de l'article R. 221-1 du Code de la Consommation.
Pour que le délai de rétractation soit respecté, il suffit que le Client transmette sa communication relative à l'exercice du droit de rétractation, par tout moyen, avant l'expiration du délai de rétractation. Le cachet de la poste faisant foi pour les envois postaux.

4.2. Le Vendeur doit rembourser le Client de la totalité des sommes éventuellement versées, au plus tard dans les 30 jours à compter de la date à laquelle il est informé de la décision de celui-ci de se rétracter.
S'il ne rembourse pas les sommes versées par le Client, les sommes dues sont majorées de plein droit, conformément aux dispositions de l'article L. 242-4 du Code de la consommation.

4.3. Le droit de rétractation est exclu pour ce qui concerne les fournitures de biens confectionnés selon les spécificités du Client ou nettement personnalisés. En conséquence, le droit de rétractation ne s'appliquera pas aux selles ou équipements personnalisés.
A ce titre, est défini comme une selle personnalisée, toute selle commandée avec une couleur (incluant couleur de liseré, jonc, décorations…) autre que la couleur de base (noir ou marron) et avec des options spécifiques relatives à l'arçon pour le cheval, les panneaux, le type de cuir et la taille de quartier.

Le droit de rétractation est également exclu pour les ventes réalisées sur le lieu d'hébergement ou de travail de l'équidé à la suite d'un essai, pour du matériel en stock.

POUR LES PROFESSIONNELS EXERÇANT POUR LES BESOINS DE LEUR PROFESSION
L'Acheteur étant un professionnel achetant dans le cadre et pour les besoins de sa profession, il n'y a pas lieu d'appliquer le droit de rétractation prévu par le Code de la consommation.

5 Tarifs
Les prestations proposés par le Vendeur sont fournis aux tarifs en vigueur au jour de l'émission du devis ou bon de commande pour la vente d'équipements. Le prix indiqué dans la confirmation de la commande par le Vendeur est le prix définitif.
Les prix sont exprimés en euros. Ces tarifs sont fermes et non révisables, pendant leur période de validité.
Une facture est établie par le Vendeur et remise au Client lors de la livraison du bien / de l'équipement.

6 Paiement
6.1. Les prestations proposées par le Vendeur (vente et réglages du matériels) sont payables par virement. Aucun autre moyen de paiement n'est accepté.
Les frais de déplacements seront systématiquement facturés au Client, selon la méthode de calcul pratiquée par le Vendeur.
6.2. Le Client doit verser « 50 » % du prix total de la prestation au moment de la signature du devis ou bon de commande ou bon de commande. Le règlement du solde s'effectue au comptant, le jour de la délivrance du matériel.
A défaut de paiement en temps utile, la prestation ne sera pas délivrée.
6.3. Le Vendeur refuse les règlements échelonnés en plusieurs fois, sauf autorisation explicite accordée par écrit (mail, ou lettre)

7 Retard de paiement
De convention expresse et sauf report exceptionnel sollicité par le Client et accordé par le Vendeur, le défaut de paiement du matériel lors de la livraison entraînera, après mise en demeure, l'exigibilité immédiate de toutes les sommes qui sont dues à le Vendeur, quelle qu'en soit la cause, sans préjudice de toute autre action que le Vendeur serait en droit d'intenter, à ce titre, à l'encontre du Client.
Le non-respect des délais de paiement entraînera également l'application de pénalités de retard aux conditions et taux prévus ci-après.
Tout retard de paiement, en référence au lendemain de la date d'exigibilité indiquée sur la facture, entrainera l'application de pénalités de retard d'un montant égal à trois (3) fois le taux d'intérêt légal alors en vigueur, qui seront acquises automatiquement et de plein droit au Vendeur, sans formalité aucune, ni mise en demeure préalable.
Les pénalités de retard seront calculées sur le montant HT des factures en retard de paiement.
Tout paiement partiel imputable au Client et dont le motif n'aurait pas été dûment justifié ou justifiable auprès du Vendeur sera considéré comme un retard de paiement.
Si le Client est un professionnel, tout retard de paiement donnera lieu, en plus des pénalités de retard, au versement d'une indemnité forfaitaire pour frais de recouvrement au profit du Vendeur. Cette indemnité a été fixée forfaitairement à quarante (40) euros. Elle sera due de plein droit et sans formalité par le professionnel, en situation de retard de paiement.

8 Obligations du Vendeur
8.1. Le vendeur s'engage à fournir la prestation commandée dans un délai maximum de six mois à compter de la validation définitive de la commande du Client.
Le Vendeur s'engage à fournir ses meilleurs efforts pour fournir les prestations commandése par le Client dans le cadre d'une obligation de moyen, dans les délai ci-dessus précisé. Toutefois, les délais communiqués par les fournisseurs et annoncés aux clients le sont à titre indicatif.

8.2. Le Vendeur s'engage à exécuter les obligations contractuelles définies sur le devis ou bon de commande signé par le Client, à l'exclusion de tout autre sans que les restrictions suivantes puissent jamais être considérées comme limitatives.

8.3. La responsabilité du Vendeur ne saurait être engagée en cas de non-respect des obligations du Client (matériel utilisé dans des conditions anormales d'utilisation ou d'entretien), pour quelque cause que ce soit, ou dommage de quelque nature que ce soit au cours de l'utilisation du matériel.
Il est rappelé qu'une selle adaptée lors de sa livraison doit par la suite faire l'objet d'une révision bisannuelle et à minima annuelle pour rester adaptée aux évolutions musculaires et morphologiques de l'équidé quelqu'en soit les causes (croisssance, maladie, accident, changement du programme de travail ou de son rythme, etc.)

9 Matériels
9.1. le Vendeur fournit uniquement le matériel spécifié précisément sur le devis ou bon de commande signé par le Client, lequel provient d'un portefeuille de fournisseurs travaillant régulièrement avec lui.
Le matériel est décrit et présenté avec la plus grande exactitude possible. Toutefois, si des erreurs ou des omissions ont pu se produire quant à cette présentation, la responsabilité du Vendeur ne pourrait être engagée.

9.2. La responsabilité du Vendeur ne peut être engagée qu'en cas de faute ou de négligence prouvée et limitée aux préjudices directs, à l'exclusion de tout préjudice indirect de quelque nature que ce soit.

9.3. Le Vendeur garantit la conformité des seuls matériels figurant sur le devis ou bon de commande signé par le Client et ne peut être tenu pour responsable dans le cas d'espèce où les clients souhaitant procéder au remplacement, opterait pour le choix d'un fournisseur de leur propre chef, ne faisant pas partie du portefeuille de fournisseurs ayant des relations commerciales établies avec lui.

9.4. Le matériel vendu est celui qui semble le plus approprié au sens du Vendeur, au moment de la commande. le Vendeur attire l'attention de l'Acheteur que les réglages, les choix de modèles de selles ou d'équipements peuvent ne plus être pertinents dans les semaines, les mois ou les années à suivre. le Vendeur ne pourra en être tenu pour responsable.

10 Délivrance du matériel
10.1. Sous réserve du temps de réception de la commande auprès de ses fournisseurs habituels, le Vendeur s'engage à prendre rendez-vous avec le client pour la livraison de la selle, dans les meilleurs délais.

10.2. Sauf condition particulière, la livraison des selles aura lieu en main propre, à l'adresse indiquée par le client, afin de faire les essais d'usage avec le couple cavalier – équidé.
Cependant, en raison de conditions exceptionnelles définies par  (tels que, sans que cela ne constitue une liste exhaustive, un confinement ou un couvre-feu rendu nécessaire par la situation sanitaire), le Vendeur se réserve la possibilité d'envoyer la selle par voie postale ou par transporteur, sans surcoût pour le Client. Le Vendeur s'engage dans ce cas à effectuer une visite de contrôle gratuite dans les plus brefs délais suivant le retour à la normale.
La livraison d'équipements (autres qu'une selle) peut se faire indifféremment par une remise en main propre, un envoi postal ou par le biais d'un transporteur. Une prise en charge totale ou partielle des coûts de transport pourra être facturée au client.

10.3. Il appartient au Client de vérifier l'état du matériel au moment de la délivrance ou de la livraison du matériel.
Toute réserve (matériel endommagé…) doit être mentionnée par écrit et être accompagnée de la signature du Client, sur papier libre, et être envoyée par lettre recommandée avec demande d'avis de réception à l'adresse suivante « 7 Hent Karrig Kamm 29380 Saint-Thurien » dans les cinq (5) jours suivant la délivrance ou la livraison.
A défaut de respect de cette procédure, le matériel livré est réputé conforme en quantité et qualité à la commande et la responsabilité du Vendeur automatiquement dégagée.

11 Utilisation – Informations à propos du matériel
Le Client formulera toute demande d'informations ou expression d'inquiétudes concernant l'utilisation du matériel par couriel ou courier postal et reconnaît que seules les informations fournies par le Vendeur sont susceptibles d'engager la responsabilité de ce dernier. En parallèle, le Client se déclare averti de l'importance de faire procéder régulièrement à l'entretien du matériel par un professionnel.

12 Retour de matériel
La reprise d'un matériel, hormis l'exercice du droit de rétractation ou la force majeure, reste à la discrétion du Vendeur.
Le cas échéant, après validation du Vendeur, le retour du matériel doit se faire dans les plus brefs délais, tels que définis entre les Parties.
Le retour du matériel se fera soit en main propre, soit par envoi postal, soit par transporteur. En toute hypothèse, les frais de retour seront entièrement supportés par le Client.
Le matériel retourné doit être dans son état et emballage d'origine et accompagné de la copie de la facture d'achat. N'est pas considéré comme étant dans son état d'origine du matériel ayant été lavé ou sur lequel aurait été appliqué des produits d'entretien quels qu'ils soient (savon glycériné, huile, graisse, etc.)
Le Vendeur remboursera le matériel dans les plus brefs délais, et au plus tard dans un délai de 30 jours à compter de la réception effective des produits retournés par le Client dans les conditions prévues au présent article.

13 Essais du matériel
13.1. Les selles font systématiquement l'objet d'un essai lors de leur livraison que ce soit à la suite d'une commande ou pour le matériel en stock. Ce peut être également le cas pour des accessoires.

13.2. Si un problème est identifié par le Vendeur et qu'il ne permet pas de poursuivre l'essai de manière optimale sur l'équidé présenté (selon les critères identifiés par l'Institut français du cheval et de l'équitation, tels que, sans que cela ne constitue une liste exhaustive, la boiterie, cheval malade, cheval trop maigre ou en surpoids), le Client en sera informé et le Vendeur se réserve le droit de mettre un terme à l'essai. Le Client peut dans ce cas choisir de reporter la livraison (il ne conserve alors pas le matériel) ou de vérifier la bonne adaptation du matériel livré lors de la visite de contrôle (valable uniquement pour les selles).
Lors de la consultation, le Client reste responsable de l'équidé et de son comportement. le Vendeur ne pourra pas en être tenu responsable.

13.3. Lors de l'essai, il est de la responsabilité du Client de mettre en œuvre des conditions adéquates pour que la livraison se passe dans des conditions de sécurité optimales. Si le Vendeur estime que les conditions sont dangereuses pour le Client, pour l'équidé, pour lui-même ou pour tout autre humain ou animal aux alentours, il pourra mettre un terme à l'essai.
Le Vendeur n'ayant pas vocation à encadrer la pratique de l'équitation, sa responsabilité ne pourra pas être engagé en cas d'accident ou de chute. Le Vendeur pourra demander au Client ou au cavalier habituel de voir l'équidé en mouvement et/ou monté dans des exercices relevant de sa pratique habituelle pour garantir un essai fiable et complet. C'est au cavalier de refuser s'il a le moindre doute sur sa sécurité ou celle de l'équidé.
Le Vendeur ne sera être tenu pour responsable de quelconques blessures, douleurs ou problèmes de boiterie ou de santé de l'équidé et/ou du Client et/ou du cavalier, pendant ou après la consultation.
Les conseils et les réglages de selle effectuée par le Vendeur sont faits avec soins et éthique. Ils correspondent aux besoins constatés et aux informations reçues le jour de l'essai.
Les réglages effectués sont ceux qui semblent le plus appropriés au sens du Vendeur, au moment de l'essai. Le Vendeur attire l'attention de l'Acheteur que les réglages peuvent ne plus être pertinents dans les semaines, les mois ou les années à suivre. le Vendeur ne pourra en être tenu pour responsable.
Le Client doit être conscient que le bon ajustement de la selle peut donner à l'équidé une liberté de mouvement qui peut avoir pour conséquence un changement radical de morphologie. Ces changements de morphologie peuvent survenir en très peu de temps et nécessiter des ajustements supplémentaires. Dans ce cas, le Client doit contacter le Vendeur dans les plus brefs délais.
Le Client doit garder à l'esprit que de nombreux facteurs peuvent affecter l'ajustement de la selle tels que, sans que cette liste ne soit exhaustive, la prise et perte de poids, le niveau de musculature, l'intensité et la fréquence de travail, les conditions d'hébergement, l'alimentation, les saisons ou l'âge de l'équidé.
Le Vendeur ne peut pas être tenu pour responsable des changements morphologiques de l'équidé, ni des conséquences qui pourrait en découler après sa prestation.

13.4. Le Vendeur propose au Client une visite de contrôle gratuite est incluse dans le prix de vente et peut être effectuée dans un délais maximum de 3 mois à compter de la livraison selon les besoins du couple cavalier – équidé. Au delà de ce délais de 3 mois le Client est considéré comme ayant renoncé à ce droit et la visite gratuite ne saurait être exigée.

14 Transfert de propriété du matériel
Le Vendeur se réserve expressément la propriété du matériel jusqu'au paiement intégral par le client du prix, et ce quelle que soit la date de délivrance/livraison du matériel. Le Vendeur pourra donc faire usage de la présente clause de réserve de propriété, en cas de défaut de paiement, et pourra revendiquer le matériel, sans dédommagement pour le Client.
L'application de la présente clause de réserve de propriété ne fait pas obstacle au transfert au client, dès la délivrance ou l'envoi de la garde du matériel vendu, des risques de vol, perte et détérioration, ainsi que des dommages qu'ils pourraient occasionner à un humain ou à un animal.

15 Certificat de garantie
Le certificat de garantie est constitué soit par la facture, soit par un certificat de garantie fourni par le fabricant. La validité de ce certificat de garantie peut nécessiter des démarches obligatoires de la part du client, en fonction du fournisseur concerné.
Il appartient au Client de conserver la facture et/ou de faire les démarches nécessaires auprès du fabricant.
Le Vendeur ne pourra pas être tenu pour responsable de la perte de la facture et/ou de la non-réalisation des démarches auprès du fabricant. Aucun duplicata ne sera délivré par ailleurs.

16 Responsabilité et limites contractuelles

16.1. La garantie des produits vendus par le Vendeur se limite dans tous les cas à celle du fabricant.

16.2. Dans ses rapports avec tout Client ou utilisateur du matériel, qu'il soit Client particulier ou professionnel, la responsabilité du Vendeur du fait d'un matériel défectueux est strictement limitée, en ce qui concerne les dommages matériels directs, au montant payé par ce Client, et ce quelle que soit la cause, l'objet ou le fondement de la réclamation.

16.3. le Vendeur ne pourra être tenu responsable pour un dommage indirect et/ou immatériel, tel qu'un manque à gagner ou une perte de profit notamment.
Le présent Contrat ne couvre pas les matériels et installations en aval et en amont de la prestation de vente de selles et autres accessoires faisant l'objet du présent Contrat.

16.4. La responsabilité du Vendeur ne saurait être engagée en cas de défaut d'utilisation ou d'entretien, de détériorations dues à des erreurs de manipulations, d'utilisation abusives ou non appropriées.
Sont également exclus de cette garantie les défauts et détériorations provoquées par l'usure naturelle ou encore par une modification du produit non prévue ni spécifiée par le Vendeur.
le Vendeur ne peut être tenu pour responsable des détériorations et casses dues à une défense de l'équidé.
La responsabilité du Vendeur ne saurait être engagée pour le matériel ayant fait l'objet d'un mauvais entretien, mauvais lavage ou nettoyage.
Enfin, le Vendeur ne peut être tenu pour responsable des interventions effectuées par une tiers personne sur les équipements qu'il a fournis au Client.

17 Force Majeure
17.1. Chacune des Parties sera exonérée de toute responsabilité en cas de manquement total ou partiel même temporaire à l'une ou l'autre de ses obligations découlant du présent Contrat qui serait causé par un cas de Force majeure.
Il en sera de même s'agissant des préjudices ou dommages matériels ou immatériels résultant d'évènements de force majeure ou tous autres faits insurmontables ou imprévisibles d'un tiers au contrat.
La Force majeure est définie comme un événement à caractère insurmontable et irrésistible, résultant d'un fait extérieur à la maîtrise des Parties, lequel consiste en un événement ou une série d'événements de nature climatique, pandémique, bactériologique, militaire, politique, diplomatique ou informatique.
A titre d'exemple, constituent notamment des événements de force majeure, sans que cette liste soit exhaustive, des phénomènes naturels tels que les tornades, inondations, ouragans, tremblements de terre, éruptions volcaniques ; l'utilisation par un Etat ou un groupe terroriste d'armes de toute nature perturbant la continuité des relations commerciales ; des mouvements sociaux d'ampleur nationale ; la propagation d'un virus qui serait qualifié par les autorités de stade 3 de l'épidémie tel que le Sars-Cov-2 ou la mise en place d'un confinement ou couvre-feu en raison de l'évolution d'une pandémie.

17.2. En cas de survenance d'une situation qu'elle considère comme un cas de Force majeure, la Partie concernée s'engage à notifier par lettre recommandée avec accusé de réception (LRAR), dans les plus brefs délais, la survenance de cet évènement en précisant sa nature et son impact sur le respect de ses obligations, et accompagner sa demande de tout document pouvant en justifier.
Dans l'hypothèse où la Partie invoquant une situation de force majeure parviendrait à la caractériser, ses obligations seront suspendues pour un délai de « 2 » semaines. Toute suspension d'exécution du Contrat par application du présent article sera strictement limitée aux engagements dont les circonstances de Force majeure auront empêché l'exécution et à la période durant laquelle les circonstances de force majeure auront agi.
En tout état de cause, les Parties s'efforcent de mettre en œuvre les moyens nécessaires pour minimiser les dommages pouvant en résulter.
Passé le délai de suspension des obligations, si la situation de Force majeure se poursuit, le Contrat sera résolu de plein droit.

18 Assurance
le Vendeur est assuré auprès d'une compagnie française notoirement solvable.

19 Règlement des litiges
19.1. Toute réclamation doit se faire par écrit et être adressée au siège du Vendeur, à savoir « 7 Hent Karrig Kamm 29380 Saint-Thurien ».

19.2.A. Pour un client consommateur
En cas d'échec de la demande de réclamation faite auprès du Vendeur, le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.

19.2.B. Pour un client professionnel
Avant toute action portée par ces tribunaux, en vue de trouver ensemble une solution à tout litige qui surviendrait dans l'exécution du présent contrat, les Parties conviennent de se réunir dans les « quinze jours) » à compter de la réception d'une lettre recommandée avec demande d'avis de réception, notifiée par l'une des deux parties.
La présente procédure de règlement amiable constitue un préalable obligatoire à l'introduction d'une action en justice entre les parties. Toute action introduite en justice en violation de la présente clause serait déclarée irrecevable.
Toutefois, si au terme d'un délai « quinze jours », les Parties n'arrivaient pas à se mettre d'accord sur un écrit, le litige serait alors soumis à la compétence juridictionnelle désignée ci-après.

19.3. Le droit applicable aux présentes conditions générales est le droit français. Tout litige concernant la validité, l'interprétation, l'exécution, la réalisation ou la résolution du Contrat, leurs conséquences ou leur suite, et qui n'aurait pas pu être résolu amiablement entre le Vendeur et le Client, sera soumis aux tribunaux français.
En cas de litige avec des professionnels et/ou commerçants, celui-ci sera soumis au Tribunal de Commerce de « Quimper » dans le ressort duquel se trouve le siège social du Vendeur, quelles que soient les conditions de vente et le mode de paiement accepté, même en cas d'appel en garantie ou de pluralité de défendeurs.

19.4. Si l'une des clauses ou dispositions des présentes Conditions Générales venait à être annulée ou déclarée illégale par une décision de justice définitive, cette nullité ou illégalité n'affectera en rien les autres clauses et dispositions qui continueront à s'appliquer.

20 Protection des données personnelles
le Vendeur est susceptible de collecter des données personnelles, ce pour le bon déroulement de la commande.
Afin de répondre aux contraintes européennes et nationales sur la collecte et le traitement des données personnelles, le Vendeur confirme avoir mis en place les actions nécessaires afin de respecter les obligations prévues par le Règlement Européen sur la protection des données personnelles (RGPD) n°2016/679 du 27 avril 2016 ainsi que la loi n°78-17 relative à l'informatique, aux fichiers et aux libertés.
le Vendeur s'engage, pendant toute la durée de la relation avec son Client, à ce que toutes les données personnelles concernant son Client (généralement le nom, prénom, adresse e-mail, adresse postale et numéro de téléphone) soient traitées et collectées pour ses propres finalités, conformément aux dispositions communautaires et nationales en vigueur.
Ceci impose notamment, sans toutefois s'y limiter, (i) d'établir une base légale appropriée pour le traitement, (ii) de veiller à l'existence d'un mécanisme légal ou d'une exemption légale permettant tout transfert des données personnelles en dehors de l'Espace économique européen (EEE), (iii) de mettre en place des mesures techniques et organisationnelles appropriées afin de garantir la sécurité des données personnelles.
Conformément à la Loi informatique et libertés du 6 janvier 1978, il est rappelé que chaque Client dispose d'un droit d'accès, d'opposition, de rectification, de modification et de retrait sur toute donnée personnelle le concernant. Le Client peut à tout moment exercer ce droit en contactant le Vendeur .</pre>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
