{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting | Consultations' }}{% endblock %}
{% block content %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Pré-requis</span>
                            </h2>
                        </div>
                    </div>
                    <div class="product-item-description d-flex me-auto mt-5">
                        <div class="bg-faded p-5 rounded">
                        <p class="mb-0">Le prérequis au déroulement d'une séance est principalement la bonne éducation du cheval (cela dit, un pré-débourrage peut suffire) et l'accès à des installations basiques en bon état pour avoir un cadre sécuritaire et un cheval relativement propre et échauffé à mon arrivée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Une séance se déroule de la manière suivante</span>
                            </h2>
                        </div>
                    </div>
                    <div class="product-item-description d-flex me-auto mt-5">
                        <div class="bg-faded p-5 rounded">
                            <ul>
                                <li>Avant de me déplacer pour vous rencontrer vous et votre compagnon équin, je commence par vous communiquer un <b><a href="https://gsf.pigot.eu/rdv" target="_blank">questionnaire à me retourner complété</a></b> afin de me donner un aperçu de votre situation, de vos besoins et de vos attentes pour préparer au mieux la séance à venir. J'y demande des informations concernant vos historiques médicaux respectifs (entorse, fracture, maladie, handicap, remarque d'un ostéopathe, etc.), votre fonctionnement (conditions d'hébergement, alimentation, travail, équipements utilisés, etc.), les éventuelles difficultés que vous rencontrez (comportement général ou attitudes au travail, difficultés sur certains exercices autant pour vous que pour votre monture, etc.).</li>
                                <li>Le jour de la consultation, je vous demande d'avoir sorti votre cheval du champ et de l'avoir brossé puis échauffé aux 3 allures à pied avant mon arrivée. D'une part, ceci est important pour que je puisse respecter les horaires communiqués aux différents clients que je rencontre dans la même journée (sachant que pour ma part, je vous préviens en cas de retard lorsque je quitte l'écurie précédente). D'autre part, voir un cheval qui est échauffé me permet de ne pas avoir de différences parasites entre mes observations sur le premier essai de selle et ceux qui vont suivre.<br>
                                <b>Attention : si vous observez une boiterie ou une gêne importante, merci d'annuler la consultation au plus tôt.</b></li>
                                <li>Sur place j'inspecte votre équipement actuel, je recherche d'éventuels défauts structurels, je vous observe harnacher votre destrier, puis vous montez en selle et j'évalue votre matériel et son impact sur vous et votre compagnon en statique comme en dynamique (sauf situation critique).</li>
                                <li>En fonction des conclusions, je peux proposer des adaptations des accessoires (étrivières, sangles, étriers, tapis correctifs ou non) ou des adaptations de la selle (changement d'arcade, adaptation des matelassures si elles sont en laine), ou encore l'essai d'un autre matériel si le vôtre ne convient pas ou n'est pas suffisamment adaptable.</li>
                                <li>La séance se termine par un résumé des observations et des recommandations : pour le reste c'est en fonction de vous, vous n'avez aucune obligation d'achat, chacun fait en fonction de sa situation, de ses moyens et à son rythme.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Les tarifs sont les suivants</span>
                            </h2>
                        </div>
                    </div>
                    <div class="product-item-description d-flex me-auto mt-5">
                        <div class="bg-faded p-5 rounded">
                            <ul>
                                <li>Tout déplacement est dédommagé au tarif réglementaire de 0,50 € du km aller-retour au départ de Saint-Thurien (29380), ces frais sont estimés et des parts forfaitaires calculées sur la base du nombre de propriétaires vus le même jour dans une même zone.</li>
                                <li>La consultation initiale ou de contrôle annuel est au tarif de 75 € (tarif appliqué au 4 mars 2024)
                                Une visite de suivi peut être réalisée ( dans un délais inférieur à 1 an après la consultation initiale) pour ajuster les solutions en fonction de l'évolution musculaire du cheval, voire du cavalier : dans ce cas un tarif de 38 € de l'heure est appliqué.</li>
                                <li>Si vous souhaitez que je supervise des essais de selles complémentaires à la suite d'une consultation, que ces selles m'appartiennent ou vous soient prêtées, le tarif est de 38 € de l'heure.</li>
                                <li>A partir de 2 chevaux suivis le même jour et appartenant à un même propriétaire j'applique un tarif horaire de 36 € de l'heure.</li>
                                <li>Pour les professionnels de l'équitation : que ce soit pour le suivit de vos chevaux personnels ou de votre cavalerie je vous propose des interventions sur mesure au tarif de 36 € de l'heure.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
