{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting' }}{% endblock %}
{% block content %}
        <section class="page-section about-heading">
            <div class="container">
                <img loading="lazy" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/pauline_robin/saut_gue.jpg" alt="franchissement d'un gué avec une selle prestige" />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">À la recherche de l'efficacité et de la performance</span>
                                    <span class="section-heading-lower">Technicité & Éthique</span>
                                </h2>
                                <p>Depuis en 2020, Galadriel Saddle Fitting propose des services professionnels de fitting de selles pour assurer du confort et des performances avec votre cheval. Ainsi que des conseils pour rendre votre équitation encore plus agréable.
                                </p>
                                <p class="mb-0">
                                   La vente de certains produits techniques comme les selles ou les mors ne sont possibles que par le biais de nos techniciens
                                    <em>saddle-fitter</em>
                                    ou
                                    <em>bit-fitter</em>,
                                    dans le cadre de consultations pour que ces choix soient basés sur des critères d'ergonomie appliquée à vos besoins.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
