{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting | Qu\'est ce que le saddle fitting' }}{% endblock %}
{% block content %}
        <section class="page-section about-heading">
            <div class="container">
                <img loading="lazy" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/pauline_robin/position_selle.jpg" alt="Pauline Robin - position à cheval" />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Le Saddle-Fitting</span>
                                    <span class="section-heading-lower-smaller-text">Anatomie, Locomotion et performance</span>
                                </h2>
                                <p>Le Saddle fitting est une activité de conseil et de vente personnalisés autour de la sellerie et du harnachement équestre. Pour cela, je me déplace dans toute la région Bretagne pour vous rencontrer vous et votre compagnon équin de manière à observer son anatomie et sa locomotion, analyser son harnachement existant et l’adapter ou le changer pour respecter vos morphologies respectives et vos objectifs équestres.
                                <br><br>
                                Cette discipline vise à vous apporter à vous comme à votre partenaire équin, du confort et de la précision dans votre communication, vous permettant de progresser sans entraves et en sécurité.
                                <br><br>
                                Mais au delà de cet aspect de votre travail, il est aussi question de préserver votre santé à tous les deux en faisant disparaître des attitudes et postures de soulagement qui contrarient une position équilibrée et une utilisation saine de son corps pour vous et une locomotion fluide pour lui.
                                <br><br>
                                Enfin le saddle fitting peut vous permettre de réduire ou de faire disparaître un certain nombre d'attitudes indésirables de votre cheval (agitation voire agressivité au sanglage ou au montoir, refus de coopérer au travail, absence de réaction face aux aides, ruptures d'allures, précipitations…) qui sont autant de manifestations de son inconfort, voire de sa douleur et, par conséquent, de son incapacité à répondre de manière satisfaisante à vos demandes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
