{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting | Matériel' }}{% endblock %}
{% block content %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Assiette : Confort et Précision</span>
                                <span class="section-heading-lower">Selles</span>
                            </h2>
                        </div>
                    </div>
                    <img loading="lazy" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/Bliss_of_london_sur_cheval.jpg" alt="Une selle Bliss of London sur une PFS" />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                        <p class="mb-0">Mes fournisseurs ont été sélectionnés pour vous offrir du matériel polyvalent et adapté à des budgets variés quels que soient vos objectifs, votre discipline et vos préférences motrices tout en s'adaptant au dos de votre monture.</p>
                        <ul>
                            <li><a href="https://www.prestigeitalia.com/fr/">Prestige</a></li>
                            <li><a href="https://www.bliss-of-london.com/">Bliss of London</a></li>
                            <li><a href="https://www.ikonicsaddlery.com/fr">Ikonic</a></li>
                            <li><a href="https://www.cavaletticollection.co.uk/">Cavaletti</a></li>
                            <li><a href="https://johnwhitaker.com/Saddles">Whitaker</a></li>
                        </ul>
                        <p class="mb-0">Ajustement de matériel existant :

                        Je suis formée et équipée pour modifier de nombreuses marques de selles même si ce ne sont pas mes fournisseurs, voici donc une petite liste non exhaustive des marques de selles que je peux ajuster en rendez-vous :</p>
                        <ul>

                            <li>Erreplus</li>
                            <li>Stübben</li>
                            <li>Fairfax</li>
                            <li>Kent & Masters</li>
                            <li>Thorowgood</li>
                            <li>Bates</li>
                            <li>Wintec</li>
                            <li>GFS</li>
                            <li>Eric Thomas</li>
                        </ul>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Dépôt Vente</span>
                                <span class="section-heading-lower">Des occasions de qualité</span>
                            </h2>
                        </div>
                    </div>
                    <img loading="lazy" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/Kiffer_selle_occasion.jpg" alt="Une selle Kiffer" />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">
                            Si vous avez du matériel d'occasion à vendre, n'hésitez pas à me le confier afin que je puisse le proposer à mes clients lors de mes nombreuses consultations. Dans le cadre de cette prestation, la commission est généralement de 10% du prix de vente.
                            <br>
                            Je peux aussi procéder à quelques réparations pour mettre votre matériel en valeur aux tarifs habituels.
                            <br>
                            Néanmoins, je me réserve la possibilité de refuser un équipement dont les caractéristiques techniques ou les possibilités me paraissent trop limitées, dont la sécurité me semble insuffisante ou dont le prix demandé est à mon sens excessif.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Adaptation & Entretien</span>
                                <span class="section-heading-lower">Prolonger la vie du matériel</span>
                            </h2>
                        </div>
                    </div>
                    <img loading="lazy" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/Demontage_de_matelassures.jpg" alt="Démontage de matelassures" />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">
                            Je peux réaliser selon les caractéristiques techniques du matériel et son état des modifications ou des réparations grâce a l'enseignement que j'ai reçu de Glenn Hasker, Maître sellier.
                            <br><br>
                            <i><b>Modification d'ouverture d'arçon thermoformables :</b></i>
                            <br>
                            En partenariat avec Claire Gabrielli de l'Atelier du Saddle Fitter je peux désormais vous proposer des modifications d'ouverture d'arçon (en atelier) pour les marques suivantes : Prestige, Erreplus et Whitaker.
                            Nous sommes effectivement équipées d'une presse pour les arçons thermoformable.
                            <br>
                            La modification d'ouverture d'arçon est de maximum +2 tailles ou -2 tailles à partir de la taille de fabrication de la selle (inscrite dans le numéro de série de la selle qu'on peut trouver sous un petit quartier ou sur un des quartiers selon les modèles). Ainsi pour une selle produite en taille d'ouverture 33 il est possible de la modifier du 31 au 35. Aucune modification ne sera réalisée en dehors des préconisations du fabricant sous peine d'annuler la garantie de l'arçon.
                            <br>
                            Si une modification est effectuée en dehors d'une consulation effectuée par l'une de nous deux, nous ne prenons aucune responsabilité de la bonne adaptation de la selle à la suite de la dite modification.
                            <br>
                            <br>
                            Les tarifs sont les suivants :
                            <br>
                                <ul>
                                    <li>Modification effectuée suite a une consultation : 100€</li>
                                    <li>Modification effectuée en dehors d'un suivit par Claire Gabrielli ou moi même : 150€</li>
                                </ul>
                            <br>
                            <i><b>Entretien des matelassures en laine :</b></i>
                            <br>
                            Un <u>reflockage total</u> des matelassures a lieux en atelier et implique :
                            <br>
                                <ul>
                                    <li>L'ouverture des panneaux (à vis ou cousus) et le retrait de la laine existante,</li>
                                    <li>Le décompactage ou le remplacement de la laine selon son état,</li>
                                    <li>Le rembourrage complet des matelassures après pesée de la laine,</li>
                                    <li>La remise en place des panneaux (à vis ou cousus).</li>
                                </ul>
                            <br>
                            Un <u>reflockage partiel</u> des matelassures peut avoir lieux à l'écurie (si vissées) ou en atelier (si cousues) et implique :
                            <br><ul>
                                    <li>L'ouverture des panneaux,</li>
                                    <li>Le retrait ou ajout de laine selon les besoins,</li>
                                    <li>La remise en place des panneaux.</li>
                                </ul>
                            <br>
                            Les tarifs de ces prestations sont les suivants :
                            <br>
                                <ul>
                                    <li>Reflockage de matelassures à vis :</li>
                                    <ul>
                                        <li>Partiel : 50 €</li>
                                        <li>Total : 90 €</li>
                                    </ul>
                                    <li>Reflockage de matelassures cousues :</li>
                                    <ul>
                                        <li>Partiel : 90 €</li>
                                        <li>Total : 160€</li>
                                    </ul>
                                </ul>
                            <br>
                            Je peux également remplacer vos contre-sanglons (courts ou longs) s'ils sont abîmés : le tarif est de 25 € à l'unité.
                            <br>
                            Il est également possible de réparer certaines coutures mais pour plus d'informations, merci de me contacter pour faire un devis, le montant variera selon l'état du matériel, la complexité et l'ampleur du travail à faire.

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
