{% extends "components/base.twig" %}

{% block title %}{{ 'Galadriel Saddle-Fitting | Services' }}{% endblock %}
{% block content %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Assiette : Confort et Précision</span>
                                <span class="section-heading-lower">Selles</span>
                            </h2>
                        </div>
                    </div>
                    <img loading="lazy" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/pauline_robin/happy_profil.jpg" alt="travail sur le plat avec une selle prestige" />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                        <p class="mb-0">Nos fournisseurs ont été sélectionnés pour vous offrir du matériel polyvalent et adapté à des budgets variés quels que soient vos objectifs, votre discipline et vos préférences motrices tout en s'adaptant au dos de votre monture.</p>
                        <ul>
                            <li><a href="https://www.prestigeitalia.com/fr/">Prestige</a></li>
                            <li><a href="https://www.bliss-of-london.com/">Bliss of London</a></li>
                            <li><a href="https://www.ikonicsaddlery.com/fr">Ikonic</a></li>
                            <li><a href="https://www.cavaletticollection.co.uk/">Cavaletti</a></li>
                            <li><a href="https://johnwhitaker.com/Saddles">Whitaker</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Contact : tact et finesse</span>
                                <span class="section-heading-lower">Mors & Briderie</span>
                            </h2>
                        </div>
                    </div>
                    <img loading="lazy" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/pauline_robin/tronc.jpg" alt="franchissement d'un tronc avec un bridon stubben et une selle prestige" />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Nous nous sommes tournées vers des fournisseurs renommés pour vous offrir une large gamme de matériel s'adaptant a votre équitation et à votre main tout en respectant l'anatomie de votre partenaire équin.</p>
                        Liste à venir</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Simplicité, Confort, Stabilité</span>
                                <span class="section-heading-lower">Accessoires</span>
                            </h2>
                        </div>
                    </div>
                    <img loading="lazy" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/products-03.jpg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Nous avons sélectionnés quelques accessoires pour leurs matières respirantes ou leurs coupes techniques, ou enfin le confort qu'ils vous apportent en tant que cavalier ou celui de votre équidé. </p></div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
