<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Galadriel Saddle Fitting propose des services professionnels de fitting de selles pour assurer du confort et des performances avec votre cheval. Ainsi que des conseils pour rendre votre équitation encore plus agréable." />
        <meta name="author" content="Galadriel Pigot" />
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://gsf.pigot.eu">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{% block title %}{% endblock %}">
        <meta property="og:description" content="Galadriel Saddle Fitting propose des services professionnels de fitting de selles pour assurer du confort et des performances avec votre cheval. Ainsi que des conseils pour rendre votre équitation encore plus agréable.">
        <meta property="og:image" content="https://gsf.pigot.eu/assets/img/pauline_robin/saut_gue.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="gsf.pigot.eu">
        <meta property="twitter:url" content="https://gsf.pigot.eu">
        <meta name="twitter:title" content="{% block title %}{% endblock %}">
        <meta name="twitter:description" content="Galadriel Saddle Fitting propose des services professionnels de fitting de selles pour assurer du confort et des performances avec votre cheval. Ainsi que des conseils pour rendre votre équitation encore plus agréable.">
        <meta name="twitter:image" content="https://gsf.pigot.eu/assets/img/pauline_robin/saut_gue.jpg">

        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="icon" type="image/jpg" href="favicon.jpg" />
        <link href="assets/fonts/fonts.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="assets/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-lower">Galadriel Saddle-Fitting</span>
            </h1>
        </header>
        {% include '../includes/navbar.html' %}
        {% block content %}{% endblock %}
        {% include '../includes/footer.html' %}
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Matomo -->
        <script>
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(["setDoNotTrack", true]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//analytics.wdes.eu/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '7']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img referrerpolicy="no-referrer-when-downgrade" src="//analytics.wdes.eu/matomo.php?idsite=7&amp;rec=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Matomo Code -->
    </body>
</html>
