body {
    background-image: linear-gradient(rgba(3, 50, 99, 0.57), rgba(3, 50, 99, 0.40)), url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #063464;// TODO: move it
}

p {
    line-height: 1.75;
}

.text-faded {
    color: lighten($primary, 25%);
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: $headings-font-family;

    .site-heading-upper {
        display: block;
        font-size: 2rem;
        font-weight: 800;
    }

    .site-heading-lower {
        font-size: 5rem;
        font-weight: 100;
        line-height: 4rem;
    }
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-heading {
    text-transform: uppercase;

    .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;
    }
    .section-heading-lower-smaller-text {
        display: block;
        font-size: 2rem;
        font-weight: 100;
    }
}

.bg-faded {
    background-color: lighten($primary, 25%);
}
